<div *ngIf="role==='unknown' || role===null">
  <h1>Veuillez vous connecter pour pouvoir voir vos tickets</h1>
</div>
<div class="container text-center" *ngIf="role==='ADMIN' || role==='USER'">
  <div class="row">
    <div class="col-auto" style="margin-left: 5px; " *ngFor="let ticket of tickets; let i = index">
      <ticket [ticketId]="ticket.id" [ticketUserId]="ticket.idUser" [ticketDescription]="ticket.description"
        [ticketState]="ticket.state.toString().toLowerCase()" [ticketTitle]="ticket.title"
        [userRole]="(userService.currentUser.value)?.role?.toString()" /><span>&nbsp;</span>
    </div>
  </div>
</div>
<!--class="col-4 col-sm-4 col-md-4 col-lg-4"-->