<div class="card border-dark m-2">
  <div>
    <h5 class="card-header text-bg-secondary border-dark">
      <div *ngIf="this.userRole?.toString() === 'ADMIN'; else user">
        Ticket #{{ticketId}} par {{username}}
        <span class="badge text-bg-danger" *ngIf="ticketState==='cancelled'">Annulé</span>
        <span class="badge text-bg-warning" *ngIf="ticketState==='pending'">En attente</span>
        <span class="badge text-bg-success" *ngIf="ticketState==='resolved'">Résolu</span>
      </div>
      <ng-template #user>
        Ticket #{{ticketId}}
        <span class="badge text-bg-danger" *ngIf="ticketState==='cancelled'">Annulé</span>
        <span class="badge text-bg-warning" *ngIf="ticketState==='pending'">En attente</span>
        <span class="badge text-bg-success" *ngIf="ticketState==='resolved'">Résolu</span>
      </ng-template>
    </h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ticketTitle}}</h5>
    <p class="card-text">{{ticketDescription}}</p>
    <div *ngIf="this.userRole?.toString() === 'ADMIN'">
      <div class="row" *ngIf="ticketState==='pending'">
        <div class="col">
          <button href="#" (click)="cancelled()" class="btn btn-danger" value="cancelled">Annuler</button>
        </div>
        <div class="col text-center">
          <button href="#" class="btn btn-secondary" value="modify">Modifier</button>
        </div>
        <div class="col text-end">
          <button href="#" (click)="resolved()" class="btn btn-success" value="resolved"> Résoudre</button>
        </div>
      </div>
      <div class="row" *ngIf="ticketState==='cancelled'">
        <div class="col">
          <button href="#" (click)="pending()" class="btn btn-warning" value="pending">Mettre en attente</button>
        </div>
        <div class="col text-center">
          <button href="#" class="btn btn-secondary" value="modify">Modifier</button>
        </div>
        <div class="col text-end">
          <button href="#" (click)="resolved()" class="btn btn-success" value="resolved">Résoudre</button>
        </div>
      </div>
      <div class="row" *ngIf="ticketState==='resolved'">
        <div class="col">
          <button href="#" (click)="cancelled()" class="btn btn-danger" value="cancelled">Annuler</button>
        </div>
        <div class="col text-center">
          <button href="#" class="btn btn-secondary" value="modify">Modifier</button>
        </div>
        <div class="col text-end">
          <button href="#" (click)="pending()" class="btn btn-warning" value="pending">Mettre en attente</button>
        </div>
      </div>
    </div>
  </div>
</div>
